<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h5 class="my-0 ms-2 mr-md-auto font-weight-normal">Спортивная школа</h5>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная страница</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog">Blog</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/add">New Article</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">О приложении</a>
    </nav>
  </div>
</div>